@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&subset=cyrillic');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: arimo, arial, sans-serif;
    font-size: 14px;
}

.container {
    max-width: 1600px;
    display: flex;
    padding: 25px 20px 25px 20px;
}

.btn {
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    background-color: #757e8e;
    border-radius: 5px;
    color: white;
    font-size: 12px;
}

img {
    max-width: 100%;
}

.logo {
    height: 40px;
    width: 40px;
    fill: #586374;
}

.header {
    max-width: 1600px;
    padding-top: 1%;
    padding-left: 7%;
    background-color: #e4e7ec;
    
    &_name {
        display: inline-block;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        color:#586374;
    }
    
    &_name:hover {
        color: #465263;
    }
}
@media screen and (max-width: 320px) {
    .header {
        padding-left: 11%;
    }
}

.btn:hover {
    background-color: #4175cb;
}

.block1 {
    background-color: #e4e7ec;
    
    &_img {
        margin-left: 30px;
        width: 650px;
        height: 300px;
        background: url('../images/img/gloria-sports-arena.jpg') no-repeat;
        background-size: cover;
        box-shadow: 0px 0px 10px 0px black;
    }
}

.description {
    max-width: 39%;
    padding-top: 7%;
    padding-left: 6%;
    &_h1{
        font-size: 29px;
        line-height: 33px;
        
        font-weight: 300;
        color:#586374;
    }
    
    &_date {
        padding-bottom: 10px;
        font-size: 22px;
        line-height: 25px;
        font-weight: 200;
        color:#586374;
    }
    &_about {
        padding: 10px 0 20px 0;
        color: #707b8c;
    }
    
}

.block2 {
    &_ul {
        display: flex;
        list-style-type: none;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 30px;
    }
    @media screen and (max-width: 320px) {
        &_ul {
            margin: 0 10px;
        }
    }
    
    &_ico {
        display: block;
        float: left;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        padding-right: 10px;
    }
    
    &_ico1 {
        background-image: url('../images/icons/1.svg');
    }
    
    &_ico2 {
        background-image: url('../images/icons/2.svg');
    }
    &_ico3 {
        background-image: url('../images/icons/3.svg');
    }
    &_ico4 {
        background-image: url('../images/icons/4.svg');
    }
    &_ico5 {
        background-image: url('../images/icons/5.svg');
    }
    &_ico6 {
        background-image: url('../images/icons/6.svg');
    }
    &_ico7 {
        background-image: url('../images/icons/7.svg');
    }
    &_ico8 {
        background-image: url('../images/icons/8.svg');
    }
    
    
    &_p {
        padding-left: 50px;
        color: #707b8c;
    }
    
    &_h3 {
        font-size: 14px;
        font-weight: 600;
        padding-bottom: 10px;
        color:#586374;
    }
    
    &_block {
        display: inline-block;
        width: 250px;
        margin: 10px 20px 10px 0;
    }
}

.block3 {
    background-color: #e4e7ec;
    &_about {
        display: block;
        margin: 0 auto;
        width: 500px;
        text-align: center;
    }
    
    &_h2 {
        padding-bottom: 10px;
        font-size: 25px;
        text-align: center;
        color: #586374;
        font-weight: 700;
    }
    
    &_h3 {
        font-size: 19px;
        padding-bottom: 10px;
        color:#586374;
        text-align: center;
    }
    &_text {
        padding-top: 10px;
        color: #707b8c;
        text-align: center;
    }
    &_btn {
        margin-top: 20px;
    }
}

.photo {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

@media (max-width: 665px ) {
    .block1 {
        &_img {
            display: none;
        }
    }
    
    .description {
        max-width: 100%;
    }
}