@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&subset=cyrillic');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: arimo, arial, sans-serif;
    font-size: 0.875rem;
}

.container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 25px 20px 25px 20px;
}

.btn {
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    background-color: #757e8e;
    border-radius: 5px;
    color: white;
    font-size: 0.75rem;
}

.btn:hover {
    background-color: #4175cb;
}

.block1 {
    background-color: #e4e7ec;
    max-width: 1600px;
}

.block1_img {
    margin-left: 30px;
    width: 650px;
    height: 300px;
    background: url('../images/img/gloria-sports-arena.jpg') no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 10px 0px black;
}

.description {
    max-width: 39%;
    padding-top: 7%;
    padding-left: 6%;
    
}

.description_h1{
    font-size: 1.8125rem;
    line-height: 2.75rem;
    font-weight: 300;
}

.description_date {
    padding-bottom: 10px;
    font-size: 1.375rem;
    line-height: 1.5625rem;
    font-weight: 200;
}

.description_about {
    padding: 10px 0 20px 0;
}


@media (max-width: 665px ) {
    .block1_img {
        display: none;
    }
    
    .description {
        max-width: 100%;
    }
}